# Ignore node_modules
node_modules/

# Ignore environment variables
.env
.env.example

# Ignore database dumps
*.dump
*.sql

# Ignore media files (if not necessary for the project)
*.mp4

# Ignore IDE/editor-specific files
.vscode/
.idea/
